html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .04);
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #363636;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p, ol, ul {
    margin-top: 0;
}

p {
    line-height: 190%;
    font-size: 1.2em;
}

strong {
}

a {
    color: #171717;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

.pad {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#main {
    padding: 4em 0 2em 0;
}

#main .keyboard {
    max-width: 25em;
    margin: 0 auto;
}

.pad .box {
    margin: 0 1em 1em 1em;
    width: 6em;
}

.screen-input {
    max-width: 25em;
    margin: 2em auto;
}

.screen-input.report
{
    max-width: 45em;
}

/* Box */

.box {
    border-radius: 4px;
    margin-bottom: 2em;
    text-align: center;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}

.box .inner {
    padding: 1.5em;
}

@media screen and (max-width: 480px) {

    .box .inner {
        padding: 1em;
    }

}

.error{
    color: #ff8686;
}

form {
    margin: 0 0 2em 0;
}

label {
    color: #000;
    display: block;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(144, 144, 144, 0.075);
    border-radius: 4px;
    border: none;
    border: solid 1px rgba(143, 143, 143, 0.25);
    color: inherit;
    display: block;
    outline: 0;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid {
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
    border-color: #ff8686;
    box-shadow: 0 0 0 1px #ff8686;
}

input[type="text"],
input[type="password"],
select {
    height: 2.5em;
    font-size: 2em;
    text-align: center;
}


::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

.formerize-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

/* Button */

button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #70c7be;
    border-radius: 4px;
    border: 0;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    height: 3.5em;
    padding: 0 0.5em;
    line-height: 3.5em;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

button:hover,
.button:hover {
    background-color: #82cec6;
}

button:active,
.button:active {
    background-color: #5ec0b6;
}

button.fit,
.button.fit {
    display: block;
    width: 100%;
}


button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    background-color: rgba(255, 255, 255, 0.75) !important;
    box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
    color: #202024 !important;
    cursor: default;
    opacity: 0.25;
}

button.style-ok,
.button.styleO-ok {
    background-color: #7f92cf;
}

button.style-ok:hover,
.button.style-ok:hover {
    background-color: #92a2d6;
}

button.style-ok:active,
.button.style-ok:active {
    background-color: #6c82c8;
}

button.style-exit,
.button.style-exit {
    background-color: #ff8686;
}

button.style-exit:hover,
.button.style-exit:hover {
    background-color: #ff4106;
}

button.style-exit:active,
.button.style-exit:active {
    background-color: #ff8686;
}


button.style3,
.button.style3 {
    background-color: #9d7ed0;
}

button.style3:hover,
.button.style3:hover {
    background-color: #ab91d7;
}

button.style3:active,
.button.style3:active {
    background-color: #8f6bc9;
}

@media screen and (max-width: 480px) {

    button,
    .button {
        padding: 0;
    }

}



table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
}

th {
    background: linear-gradient(#82cec6, #5ec0b6);
    border: 1px solid #5ec0b6;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
}

th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}


td {
    border-right: 1px solid #8f6bc9;
    border-left: 1px solid #92a2d6;
    border-top: 1px solid #8f6bc9;
    border-bottom: 1px solid #92a2d6;
    padding: 10px 15px;
    position: relative;
}

td:last-child {
    border-right: 1px solid #92a2d6;
}

